* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100%;  
}

html {
  scroll-behavior: smooth; 
}

.container {
  width: 1440px;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.link {
  cursor: pointer;
  transition: color 0.5s;
}

.link:hover {
  color: #ffffff;
}

.nav {
  height: 60px;
}

.nav__list {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  display: block;
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.promo {
  width: 100%;
  padding: 0 200px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__content {
  width: 400px;
}

.promo__title {
  font-size: 40px;
  margin-bottom: 10px;
}

.promo__subtitle {
  font-size: 30px;
}

.promo__img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: url(./img/P32482222.jpg);
}